{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Page</title>
</head>
<link rel="stylesheet" href="{% static 'css/home.css'   %}">
<style>

</style>

<body>
    <div class="main">
        <div class="navbar">
            <img src="{% static 'img/acm thapar.png' %}" alt="">
            <img src="{% static 'img/acm thapar2.png' %}" alt="">
        </div>
        <div class="content">
            <div><img src="{% static 'img/deathnote.png' %}" alt="">
                <h1>SAKUJA</h1>
                <h2>HUMANS ARE SO INTERESTING</h2>
            </div>
            <div>
                <div class="buttons">
                    <button>
                        <a href="{% url 'logins' %}">Login</a>
                    </button>
                    <button>
                        <a href="{% url 'signups' %}">Sign Up</a>
                    </button>
                </div>

                <p>AT YOUR OWN RISK</p>
            </div>
        </div>
    </div>
</body>

</html>