{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/createteam.css' %}">
</head>
<body>
    <div class="container">
        
        <!-- <form method="post">
            {% csrf_token %}
            <label for="teamName">Enter Team Name</label><br>
            <input type="text" id="teamName" name="teamName">
                <p>{{ sec_code }}</p>
            <button type="submit">Submit</button>
        </form> -->
    </div>
</body>
</html>