<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    <label for="secCode">Enter Team code</label><br>
    <input type="text" id="secCode" name="secCode">
    <button type="submit">Submit</button>
</form>
</body>
</html>