{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Team Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="{% static 'css/team.css' %}">

<body>
    <div class="main">
        <div class="navbar">
            <img src="{% static 'img/acm thapar.png' %}" alt="">
            <h2>
                SAKUJA
            </h2>
            <img src="{% static 'img/acm thapar2.png' %}" alt="">
        </div>
        <div class="container">
            <h3>
                Being alone is better than being with the wrong person

            </h3>
            <button>
                <a href="{% url 'create-team' %}">Create Team</a>
            </button>
            <button>
                <a href="{% url 'join-team' %}">Join Team</a>
            </button>
        </div>
    </div>
</body>

</html>